opam-version: "1.2"
name: "{{name}}"
version: 0.1.0
maintainer: "{{maintainer}}"
authors: [ "{{author}}" ]
license: "{{license}}"
homepage: "{{homepage}}"
bug-reports: "{{bug_report}}"
dev-repo: "{{dev_repo}}"

build: [
  ["dune" "build" "-p" name "-j" jobs]
]

build-test: [
  ["dune" "runtest" "-p" name]
]

depends: [
  "dune" {build}
]

available: [ ocaml-version >= "4.06.0" ]
